<div id="<%= dom_id flight %>">
  <p>
    <strong>Airport:</strong>
    <%= flight.airport_id %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= flight.departure_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

</div>
